$primary-color: #2196F3;
$secondary-color: #FFA500;
$card-gap: 1rem;
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

@mixin gradient($color) {
  background-image: linear-gradient(to bottom, $color, darken($color, 10%));
}